@model IEnumerable<HumberStudentGroup.ADO.Group>

    @{
    Layout = "~/Views/Shared/_LayoutGroup.cshtml";
    if (Session["Username"] == null)
    {
    ViewBag.UserLoggedinMessage = "Currently Not Signed In";
    } else
    {
    ViewBag.UserLoggedinMessage = "Currently Signed In as " + Session["Username"];
    }
    }

    <style>
        .HumberIMG {
            border-radius: 5px;
            border: 10px solid #CC9900;
            width: 100%;
            height: 500px;
        }

        .ImgSection {
            float: right;
            padding: 25px;
        }
    </style>


    <!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>About HumberGroups</title>
    </head>
    <body>
        <div>
            <small style="float: right; position: relative;padding: 5px;">@ViewBag.UserLoggedinMessage</small><br />
        </div>
        <h1 style="text-align: center;">About to HumberGroups</h1>
        <div style="text-align: center; padding-top: 25px">
            <p>
                Lorem ipsum dolor sit amet. Est voluptatem aliquid eos mollitia itaque quo architecto delectus.<br>
                Et omnis aperiam a dolore aspernatur ut earum provident quo autem necessitatibus aut Quis magni.<br>
                Ut officiis molestiae quo autem voluptas ea numquam dignissimos ipsum ipsum eos accusantium magni<br>
                et adipisci quam ut nostrum ipsum. Et possimus omnis in quis repudiandae et suscipit expedita et<br>
                sint voluptas non libero beatae 33 earum eligendi At optio similique.
            </p>
        </div>
        <div style="float: left; width: 40%;">
            <div style="padding-top: 50px;">
                <p>
                    Et vitae voluptatibus ut nobis nostrum ut enim quos. Ea autem obcaecati aut omnis internos qui consequatur sint est fugit quis.
                </p>
            </div>
            <div style="padding-top: 50px;">
                <p>
                    Lorem ipsum dolor sit amet. Est voluptatem aliquid eos mollitia itaque quo architecto delectus.<br>
                    Et omnis aperiam a dolore aspernatur ut earum provident quo autem necessitatibus aut Quis magni.<br>
                    Ut officiis molestiae quo autem voluptas ea numquam dignissimos ipsum ipsum eos accusantium magni<br>
                    et adipisci quam ut nostrum ipsum. Et possimus omnis in quis repudiandae et suscipit expedita et<br>
                    sint voluptas non libero beatae 33 earum eligendi At optio similique.
                </p>
            </div>
        </div>
        <div class="ImgSection">
            <img src="https://www.montgomerysisam.com/wp-content/uploads/2018/12/1497-003.jpg" class="HumberIMG" />
        </div>
    </body>
</html>
